        </div> <!-- End of Row-Div -->

        <div class="parallaxImg3"></div>

    </div> <!-- End of Container-Div -->
    <br/>
    <br/>

    <br/>
    <div class="footer fixed-bottom">
        <hr>
        <p class="text-center" style="color: #2d2d37" >&COPY; CMSConstruction.Co</p>
    </div>
    
    <!-- ============================================ -->
    <!-- SCRIPTING STARTS HERE -->
    <!-- ============================================ -->
    
<!--     <script src="//cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script> -->
    <script src="/js/main.js"></script>

    <!-- ============================================ -->
    <!-- ============================================ -->
  </body>
</html>

